---
http_interactions:
- request:
    method: get
    uri: https://offer-stage.adcrws.com/v1/stores/261817158?member_key=API_RUBY_GEM_TEST
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Access-Token:
      - ACCESS_TOKEN
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"f6b951165a0cdb117299c604f89ddd55"'
    body:
      encoding: UTF-8
      string: |-
        {
          "info": {
            "total_results": 1,
            "current_page": 1,
            "total_pages": 1,
            "results_per_page": 1
          },
          "stores": [
            {
              "store_key": 261817158,
              "name": "Pho 85",
              "description": "",
              "logo_url": "https://static-demo.accessdevelopment.com/icons/store.png",
              "national": false,
              "active_location_count": 1,
              "active_offer_count": 1,
              "store_categories": [
                {
                  "category_name": "Casual & Fine Dining",
                  "category_key": 1009,
                  "category_parent_key": 39,
                  "category_parent_name": "Dining & Food",
                  "category_type": "subcategory"
                }
              ],
              "links": {
                "find_offers_for_this_store": "https://offer-stage.adcrws.com/v1/offers?store_key=261817158",
                "find_locations_for_this_store": "https://offer-stage.adcrws.com/v1/locations?store_key=261817158"
              }
            }
          ]
        }
  recorded_at: Mon, 22 Feb 2016 20:17:09 GMT
recorded_with: VCR 3.0.1
