---
http_interactions:
- request:
    method: post
    uri: https://mms-stage.adcrws.com/v1/register
    body:
      encoding: UTF-8
      string: '{"program_id":2412,"first_name":"RubyGem","last_name":"Test","postal_code":84047,"email":"rubygemtest-fbc0142b@accessdevelopment.com","password":"test1234","shared_secret":"thanks","program_url":"saversclub.accessdevelopment.com"}'
    headers:
      Access-Token:
      - "<ACCESS_TOKEN>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Application-Context:
      - application:main,stage:10120
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"users":[{"program_id":2412,"program_key":"TYP123","program_name":"Access
        Perks Demo","organization_id":2000896,"organization_key":"TYPDEMO","organization_name":"Access
        Perks Demo","member_id":93256794,"member_key":"227060","email":"rubygemtest-fbc0142b@accessdevelopment.com","first_name":"RubyGem","last_name":"Test","reg_id":1298124,"cvt":"df1034cf4160844afc4999b3adb4d4daec9fcc95","postal_code":"84047","roles":[],"program_provisioning_method":"SHARED_SECRET","user_has_password":true}],"members":[{"organization":{"organization_id":2000896,"organization_key":"TYPDEMO","name":"Access
        Perks Demo"},"program":{"program_id":2412,"program_key":"TYP123","name":"Access
        Perks Demo","provisioning_method":"SHARED_SECRET"},"member":{"member_id":93256794,"member_key":"227060","email":"rubygemtest-fbc0142b@accessdevelopment.com","first_name":"RubyGem","last_name":"Test","cvt":"df1034cf4160844afc4999b3adb4d4daec9fcc95","postal_code":"84047"},"user":{"email":"rubygemtest-fbc0142b@accessdevelopment.com","first_name":"RubyGem","last_name":"Test","reg_id":1298124,"roles":[],"has_password":true,"password_expired":false}}]}'
  recorded_at: Tue, 23 Feb 2016 17:54:27 GMT
[...]
