---
http_interactions:
- request:
    method: get
    uri: https://report-demo.adcrws.com/v1/all_usage
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Access-Token:
      - "<ACCESS_TOKEN>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"2bffd12d21ecd40fb5510c6365fa18f1"'
    body:
      encoding: UTF-8
      string: |-
        {
          "info": {
            "total_api_calls": 49049,
            "time_period": "2016-02-01T00:00:00Z to now",
            "interval": "1d",
            "report_env": "demo"
          },
          "api_calls_over_time": [
            {
              "timestamp": "2016-02-01T00:00:00.000",
              "api_call_count": 1850
            },
            {
              "timestamp": "2016-02-02T00:00:00.000",
              "api_call_count": 1812
            },
            {
              "timestamp": "2016-02-03T00:00:00.000",
              "api_call_count": 1065
            },
            {
              "timestamp": "2016-02-04T00:00:00.000",
              "api_call_count": 1198
            },
            {
              "timestamp": "2016-02-05T00:00:00.000",
              "api_call_count": 1122
            },[...]
