---
http_interactions:
- request:
    method: get
    uri: https://report-demo.adcrws.com/v1/members/API_RUBY_GEM_TEST/locations/frequent
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Access-Token:
      - "<ACCESS_TOKEN>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"7640078b22e19a2094d1708621d0047f"'
    body:
      encoding: UTF-8
      string: |-
        {
          "info": {
            "member_key": "API_RUBY_GEM_TEST",
            "time_period": "2015-01-01 to now",
            "report_env": "demo",
            "organization_id": 160,
            "program_id": 235589813
          },
          "member_usage": [
            {
              "postal_code": "84047",
              "api_call_count": 2
            }
          ]
        }
  recorded_at: Mon, 22 Feb 2016 23:10:16 GMT
recorded_with: VCR 3.0.1
