---
http_interactions:
- request:
    method: get
    uri: https://report-demo.adcrws.com/v1/members/API_RUBY_GEM_TEST/queries/recent
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Access-Token:
      - "<ACCESS_TOKEN>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"bb19e0d1cb68c1044602f186cc21863a"'
    body:
      encoding: UTF-8
      string: |-
        {
          "info": {
            "member_key": "API_RUBY_GEM_TEST",
            "time_period": "2015-01-01 to now",
            "report_env": "demo",
            "organization_id": 160,
            "program_id": 235589813
          },
          "member_usage": [
            {
              "query": "pizza",
              "api_call_date": "2015-11-03T22:29:38.617Z"
            }
          ]
        }
  recorded_at: Mon, 22 Feb 2016 23:10:03 GMT
recorded_with: VCR 3.0.1
