---
http_interactions:
- request:
    method: get
    uri: https://report-demo.adcrws.com/v1/usage/<ACCESS_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Access-Token:
      - "<ACCESS_TOKEN>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"20ab7c3bc6cb233b45fb9ec85f9837b8"'
    body:
      encoding: UTF-8
      string: |-
        {
          "info": {
            "total_api_calls": 17641,
            "time_period": "2016-02-01T00:00:00Z to now",
            "interval": "1d",
            "report_env": "demo"
          },
          "api_calls_over_time": [
            {
              "timestamp": "2016-02-01T00:00:00.000",
              "api_call_count": 1465
            },
            {
              "timestamp": "2016-02-02T00:00:00.000",
              "api_call_count": 1347
            },
            {
              "timestamp": "2016-02-03T00:00:00.000",
              "api_call_count": 427
            },
            {
              "timestamp": "2016-02-04T00:00:00.000",
              "api_call_count": 544
            },
            {
              "timestamp": "2016-02-05T00:00:00.000",
              "api_call_count": 502
            },
  [...]
