---
http_interactions:
- request:
    method: post
    uri: https://token-stage.adcrws.com/v1/filter
    body:
      encoding: UTF-8
      string: '{"program_filter": {"offers": [{"or":[{"terms":{"categories.category_key":[
        39, 1007, 1008, 1009, 1010, 1011, 1012 ] } }, {"terms":{"categories.category_parent_key":[
        39, 1007, 1008, 1009, 1010, 1011, 1012]} } ]}, {"not": {"or": [{"terms":{"categories.category_key":[
        1007 ] } }, {"terms":{"categories.category_parent_key":[ 1007 ] } } ] } }
        ] } }'
    headers:
      Access-Token:
      - ACCESS_TOKEN
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"f2c6870b6fa1f97136976607f16e1d44"'
    body:
      encoding: UTF-8
      string: |-
        {
          "offers": {
            "offer_count": 111806,
            "categories": [
              {
                "category_name": "Dining & Food",
                "category_key": 39,
                "category_type": "category",
                "offer_count": 111806,
                "subcategories": [
                  {
                    "category_name": "Casual & Fine Dining",
                    "category_key": 1009,
                    "category_type": "subcategory",
                    "category_parent_key": 39,
                    "offer_count": 65246
                  },
                  {
                    "category_name": "Fast Food",
                    "category_key": 1008,
                    "category_type": "subcategory",
                    "category_parent_key": 39,
                    "offer_count": 41935
                  },
                  {
                    "category_name": "Specialty Foods & Gifts",
                    "category_key": 1010,
                    "category_type[...]
