---
http_interactions:
- request:
    method: get
    uri: https://token-stage.adcrws.com/v1/verify
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Access-Token:
      - ACCESS_TOKEN
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"09d594e90089683d19ec4349b43b4d50"'
    body:
      encoding: UTF-8
      string: |-
        {
          "oauth_access_token": {
            "token": "ACCESS_TOKEN",
            "domains": [

            ],
            "created_at": "2015-08-25T12:56:21.531-06:00",
            "revoked_at": null,
            "expires_in": null,
            "application_name": "RWS API - No Filters No Limit (pcid:200156)",
            "organization_name": "Access Development",
            "organization_customer_identifier": "160",
            "program_name": "RWS API - No Filters No Limit",
            "program_customer_identifier": "200156",
            "program_end_dts": "2018-08-25T06:56:17.665-06:00",
            "program_start_dts": "2015-08-25T06:56:17.665-06:00",
            "color_theme": "default",
            "default_distance": 25,
            "email_opt_out": false,
            "help_phone_number": "1-800-331-8867",
            "mobile_logo": null,
            "mobile_teaser": null,
            "member_key_label": "Member ID"
          }
        }
  recorded_at: Mon, 22 Feb 2016 20:16:52 GMT
recorded_with: VCR 3.0.1
