---
http_interactions:
- request:
    method: post
    uri: https://mms-stage.adcrws.com/v1/auth
    body:
      encoding: UTF-8
      string: '{"email":"ben@test.com","password":"bad"}'
    headers:
      Access-Token:
      - "<ACCESS_TOKEN>"
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      X-Application-Context:
      - application:main,stage:10110
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"message":"No active user with specified credentials found.","status":401,"error_code":"AUTHENTICATION_FAILURE_PASSWORD_MISMATCH"}'
  recorded_at: Mon, 22 Feb 2016 23:05:58 GMT
recorded_with: VCR 3.0.1
