---
http_interactions:
- request:
    method: get
    uri: https://mms-stage.adcrws.com/v1/auth?member_key=226872
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Access-Token:
      - "<ACCESS_TOKEN>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Application-Context:
      - application:main,stage:10120
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"users":[{"program_id":2412,"program_key":"TYP123","program_name":"Access
        Perks Demo","organization_id":2000896,"organization_key":"TYPDEMO","organization_name":"Access
        Perks Demo","member_id":89738626,"member_key":"226872","email":"cs@test.com","first_name":"Cody","last_name":"Stringham","reg_id":1084059,"cvt":"6fa6c66c4edc07b767f147a6e5fc614c20797ef0","postal_code":"84101","roles":[],"program_provisioning_method":"SHARED_SECRET","user_has_password":true}],"members":[{"organization":{"organization_id":2000896,"organization_key":"TYPDEMO","name":"Access
        Perks Demo"},"program":{"program_id":2412,"program_key":"TYP123","name":"Access
        Perks Demo","provisioning_method":"SHARED_SECRET"},"member":{"member_id":89738626,"member_key":"226872","email":"cs@test.com","first_name":"Cody","last_name":"Stringham","cvt":"6fa6c66c4edc07b767f147a6e5fc614c20797ef0","postal_code":"84101"},"user":{"email":"cs@test.com","first_name":"Cody","last_name":"Stringham","reg_id":1084059,"roles":[],"has_password":true,"password_expired":false}},{"organization":{"organization_id":2000811,"organization_key":"2000811","name":"Alabama
        Farmers Federation"},"program":{"program_id":2237,"program_key":"100406","name":"Everyday
        Extras","provisioning_method":"MEMBER_CID"},"member":{"member_id":54967340,"member_key":"226872","email":null,"first_name":"ROBERT","last_name":"W
        CANTRELL","cvt":"d7926ca8f22fcf998195faedfc448cef99306e9b","postal_code":"35950"}}]}'
  recorded_at: Mon, 22 Feb 2016 23:05:59 GMT
recorded_with: VCR 3.0.1
