---
http_interactions:
- request:
    method: get
    uri: https://mms-stage.adcrws.com/v1/auth?member_key=thisisaverybadmember_keyman1234556badbadbad
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Access-Token:
      - "<ACCESS_TOKEN>"
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      X-Application-Context:
      - application:main,stage:10110
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"message":"No active member with specified credentials found.","status":401,"error_code":"AUTHENTICATION_FAILURE_MEMBER_NOT_FOUND"}'
  recorded_at: Mon, 22 Feb 2016 23:06:01 GMT
recorded_with: VCR 3.0.1
