---
http_interactions:
- request:
    method: get
    uri: https://offer-stage.adcrws.com/v1/autocomplete?member_key=API_RUBY_GEM_TEST&per_page=1&resources=locations
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Access-Token:
      - ACCESS_TOKEN
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"a3a59ecc47353b072f7b640fb1e3a018"'
    body:
      encoding: UTF-8
      string: |-
        {
          "suggestions": {
            "query": "*",
            "locations": [
              {
                "location_name": "Verizon Wireless",
                "location_key": 5461172,
                "active_offer_count": 37,
                "logo_url": "https://static-stage.accessdevelopment.com/brand/dca89dd91ee1c8253b1070b86c9319a7a3f30352/original.png"
              }
            ]
          }
        }
  recorded_at: Mon, 22 Feb 2016 20:31:26 GMT
recorded_with: VCR 3.0.1
