---
http_interactions:
- request:
    method: get
    uri: https://offer-stage.adcrws.com/v1/autocomplete?member_key=API_RUBY_GEM_TEST&per_page=1&resources=stores
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Access-Token:
      - ACCESS_TOKEN
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"1c6c3f82304aac88134b4a0a2385f3e8"'
    body:
      encoding: UTF-8
      string: |-
        {
          "suggestions": {
            "query": "*",
            "stores": [
              {
                "store_name": "Restaurant.com",
                "store_key": 18939144,
                "active_offer_count": 1,
                "active_location_count": 21341,
                "logo_url": "https://static-stage.accessdevelopment.com/brand/482fd36a4cd8de59cc7622ab3cbfcc23a9f4097b/original.png"
              }
            ]
          }
        }
  recorded_at: Mon, 22 Feb 2016 20:31:26 GMT
recorded_with: VCR 3.0.1
