---
http_interactions:
- request:
    method: get
    uri: https://offer-stage.adcrws.com/v1/autocomplete?member_key=API_RUBY_GEM_TEST&per_page=1&resources=offers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Access-Token:
      - ACCESS_TOKEN
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"7ddcaea769796fe7f433cff778104253"'
    body:
      encoding: UTF-8
      string: |-
        {
          "suggestions": {
            "query": "*",
            "offers": [
              {
                "offer_name": "$5 off $50 eGift Card purchase.",
                "offer_key": 14254953,
                "logo_url": "https://static-stage.accessdevelopment.com/brand/3b7ecda801199de2f0dc6dbdf75a1ad587baf002/original.png"
              }
            ]
          }
        }
  recorded_at: Mon, 22 Feb 2016 20:31:24 GMT
recorded_with: VCR 3.0.1
