---
http_interactions:
- request:
    method: get
    uri: https://offer-stage.adcrws.com/v1/autocomplete?member_key=API_RUBY_GEM_TEST&per_page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Access-Token:
      - ACCESS_TOKEN
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"07d676183fde23e714a9ec43501a6440"'
    body:
      encoding: UTF-8
      string: |-
        {
          "suggestions": {
            "query": "*",
            "categories": [
              {
                "category_name": "Air & Parking",
                "category_key": 1109,
                "logo_url": "https://static-stage.accessdevelopment.com/icons/travel.png"
              }
            ],
            "stores": [
              {
                "store_name": "Restaurant.com",
                "store_key": 18939144,
                "active_offer_count": 1,
                "active_location_count": 21341,
                "logo_url": "https://static-stage.accessdevelopment.com/brand/482fd36a4cd8de59cc7622ab3cbfcc23a9f4097b/original.png"
              }
            ],
            "locations": [
              {
                "location_name": "Verizon Wireless",
                "location_key": 5461172,
                "active_offer_count": 37,
                "logo_url": "https://static-stage.accessdevelopment.com/brand/dca89dd91ee1c8253b1070b86c9319a7a3f30352/original.png"
              }
            ],
            "offers": [
              {
                "offer_name": "$5 off $50 eGift Card purchase.",
                "offer_key": 14254953,
                "logo_url": "https://static-stage.accessdevelopment.com/brand/3b7ecda801199de2f0dc6dbdf75a1ad587baf002/original.png"
              }
            ]
          }
        }
  recorded_at: Mon, 22 Feb 2016 20:31:27 GMT
recorded_with: VCR 3.0.1
