---
http_interactions:
- request:
    method: get
    uri: https://offer-stage.adcrws.com/v1/autocomplete?member_key=API_RUBY_GEM_TEST&per_page=1&resources=categories
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Access-Token:
      - ACCESS_TOKEN
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"f40494aa044559fc8cbdb374e520e8cf"'
    body:
      encoding: UTF-8
      string: |-
        {
          "suggestions": {
            "query": "*",
            "categories": [
              {
                "category_name": "Air & Parking",
                "category_key": 1109,
                "logo_url": "https://static-stage.accessdevelopment.com/icons/travel.png"
              }
            ]
          }
        }
  recorded_at: Mon, 22 Feb 2016 20:31:26 GMT
recorded_with: VCR 3.0.1
