---
http_interactions:
- request:
    method: get
    uri: https://redeem-stage.adcrws.com/v1/redeem/13775493/instore?member_key=API_RUBY_GEM_TEST
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Access-Token:
      - ACCESS_TOKEN
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"0fe0f068fb8dd219e84e78c164afc7cb0"'
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"redemption_method":"instore","content_type":"text/html","details":{"link":"https://static-stage.accessdevelopment.com/temp/coupon/5c1235eb068da58d54310892aa849d797015a2a2/original.html"},"links":[]}'
  recorded_at: Mon, 22 Feb 2016 20:31:24 GMT
recorded_with: VCR 3.0.1
