---
http_interactions:
- request:
    method: get
    uri: https://redeem-stage.adcrws.com/v1/redeem/13775493/instore?member_key=API_RUBY_GEM_TEST
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Access-Token:
      - ACCESS_TOKEN
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"09b0518d513ef27d72f10e16e0ebef2d7"'
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"redemption_method":"instore","content_type":"text/html","details":{"link":"https://static-stage.accessdevelopment.com/temp/coupon/0cae4520babb43c11e5ce75dd22abadef726ffe6/original.html"},"links":[]}'
  recorded_at: Mon, 22 Feb 2016 20:16:56 GMT
recorded_with: VCR 3.0.1
