---
http_interactions:
- request:
    method: get
    uri: https://campaign-stage.adcrws.com/v1/channels?member_key=API_RUBY_GEM_TEST
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Access-Token:
      - ACCESS_TOKEN
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Application-Context:
      - application:stage:10120
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"channels":[{"key":20888894,"links":[{"rel":"self","href":"http://campaign-stage.adcrws.com/v1/channels/20888894"},{"rel":"campaigns","href":"http://campaign-stage.adcrws.com/v1/campaigns?channel_key=20888894"},{"rel":"spots","href":"http://campaign-stage.adcrws.com/v1/spots/channel/20888894"}],"channel_name":"Web
        Site","channel_type":"WEBSITE","channel_identifier":"0001","channel_description":null},{"key":20888895,"links":[{"rel":"self","href":"http://campaign-stage.adcrws.com/v1/channels/20888895"},{"rel":"campaigns","href":"http://campaign-stage.adcrws.com/v1/campaigns?channel_key=20888895"},{"rel":"spots","href":"http://campaign-stage.adcrws.com/v1/spots/channel/20888895"}],"channel_name":"EMail","channel_type":"EMAIL","channel_identifier":"0002","channel_description":null},{"key":20888897,"links":[{"rel":"self","href":"http://campaign-stage.adcrws.com/v1/channels/20888897"},{"rel[...]
