---
http_interactions:
- request:
    method: get
    uri: https://mms-stage.adcrws.com/v1/members/226872/devices?program_id=2412
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Access-Token:
      - ACCESS_TOKEN
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Application-Context:
      - application:main,stage:10110
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"info":{"total_results":8},"devices":[{"udid":"9AC5650E-75CE-441B-A920-1A5DBE8A1A1C","os":"iPhone
        OS","os_version":"9.2.1","device_type":"iPhone","device_model":"Unknown iPhone","device_version":null,"software_version":"0.1.0","last_used_at":"2016-01-27T16:58:19.000+0000","name":"iPhone","push_opt_in":true,"push_token":"35d1dbf098bd519145c3c303a2d8de21800cb9726d3cbdafe381909f9a8f35b2","disabled":false,"created_dts":"2016-01-13T00:45:35.175+0000","modified_dts":"2016-01-27T16:58:22.759+0000","disabled_dts":null},{"udid":"680B04B4-6823-4B51-9A87-3FF0BF2C2772","os":"iPhone
        OS","os_version":"9.2.1","device_type":"iPhone","device_model":"Unknown iPhone","device_version":null,"software_version":"0.1.0","last_used_at":"2016-01-27T16:59:00.000+0000","name":"iPhone","push_opt_in":true,"push_token":"7642398c05ab8085e0924d3096a3b80791af0fd58dc1650b474c94503c167c2b","disabled":false,"created_dts":"2016-01-12T17:25:14.105+0000","modified_dts":"2016-01-27T16:59:03.941+0000","disabled_dts":null},{"udid"[...]
