---
http_interactions:
- request:
    method: get
    uri: https://offer-stage.adcrws.com/v1/offers/13775493/uses_remaining?member_key=API_RUBY_GEM_TEST
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Access-Token:
      - ACCESS_TOKEN
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"ad271dfff84d3ce91cb4cfd101b129b1"'
    body:
      encoding: UTF-8
      string: |-
        {
          "offers": [
            {
              "offer_uses_remaining": {
                "offer_key": 13775493,
                "uses_this_period": 2,
                "uses_remaining": "unlimited",
                "number_of_uses_remaining": null,
                "last_used_on_date": "2016-02-22T12:48:00.000Z",
                "next_available_use_date": null,
                "usable": true
              }
            }
          ]
        }
  recorded_at: Mon, 22 Feb 2016 20:16:56 GMT
recorded_with: VCR 3.0.1
