---
http_interactions:
- request:
    method: get
    uri: https://offer-stage.adcrws.com/v1/categories?member_key=API_RUBY_GEM_TEST
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Access-Token:
      - ACCESS_TOKEN
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"8bbd902aa8faedc9431caae7a3917687"'
    body:
      encoding: UTF-8
      string: |-
        {
          "info": {
            "total_results": 16,
            "current_page": 1,
            "total_pages": 1,
            "results_per_page": 16
          },
          "categories": [
            {
              "category_name": "Automotive",
              "category_key": 51,
              "category_type": "category",
              "category_parent_name": null,
              "category_parent_key": null,
              "links": {
                "show_category": "https://offer-stage.adcrws.com/v1/categories/51",
                "find_offers_in_this_category": "https://offer-stage.adcrws.com/v1/offers?category_key=51"
              },
              "subcategories": [
                {
                  "category_name": "Auto Body & Paint",
                  "category_key": 1000,
                  "category_type": "subcategory",
                  "category_parent_name": "Automotive",
                  "category_parent_key": 51,
                  "links": {
                    "show_category": "https://offer-stage.adcrws.com/v1/categories/1000",
                    "show_parent_category": "https://offer-stage.adcrws.com/v1/categories/51",
                    "find_offers_in_this_category": "https://offer-stage.adcrws.com/v1/offers?category_key=1000"
                  }
                },
                {
                  "category_name": "Auto Parts",
                  "category_key": 1001,
                  "category_type": "subcategory",
                  "category_parent_name": "Automotive",
                  "category_parent_key": 51,
                  "links": {
         [...]
