---
http_interactions:
- request:
    method: get
    uri: https://token-stage.adcrws.com/v1/filters?per_page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Access-Token:
      - ACCESS_TOKEN
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"e094278294424b141d9ac19d760a1f60"'
    body:
      encoding: UTF-8
      string: |-
        {
          "info": {
            "total_results": 273,
            "results_per_page": 1,
            "current_page": 1,
            "total_pages": 273
          },
          "filters": [
            {
              "filter_id": 295,
              "filter_name": "AARP - Novu Life - Entertainment, Golf, Home/Garden, Services - No Dining"
            }
          ],
          "links": {
            "next_page": "https://report-stage.adcrws.com/v1/filters?page=2"
          }
        }
  recorded_at: Mon, 22 Feb 2016 20:16:52 GMT
recorded_with: VCR 3.0.1
