---
http_interactions:
- request:
    method: post
    uri: https://mms-stage.adcrws.com/v1/members/API_TEST/favorites/locations/5454532
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Access-Token:
      - "<TOKEN_WITHOUT_FILTERS_WITH_PROGRAM_OFFERS>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Application-Context:
      - application:main,stage:10110
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"links":{"show_favorite_locations":"http://mms-stage.adcrws.com/v1/members/API_TEST/favorites/locations","show_favorite_offers":"http://mms-stage.adcrws.com/v1/members/API_TEST/favorites/offers","show_favorite_stores":"http://mms-stage.adcrws.com/v1/members/API_TEST/favorites/stores"},"favorites":[{"links":{"show_favorite_location":"http://mms-stage.adcrws.com/v1/members/API_TEST/favorites/locations/5454532"},"favorited_date":"2016-02-23T17:12:49.966+0000","favorite_type":"location"}]}'
  recorded_at: Tue, 23 Feb 2016 17:15:15 GMT
recorded_with: VCR 3.0.1
